input.new-task {
  border: 0px solid #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  padding: 10px;
  background-color: white;
  width: 100%;
}

.new-item {
  background-color: lightgrey;
  color: grey;
  margin: 30px 5px;
  padding: 4px;
  border: 1px solid light-grey;
  border-radius: 10px;
}
