.todo-item {
  background-color: #fff;
  color: #A9A9A9;
  margin: 5px;
  padding: 10px;
  border: 1px solid light-grey;
  border-radius: 10px;
}

.todo-item button {
  float: right;
  font-size: 12px;
  padding: 1px 3px;
}

.completed {
  text-decoration: line-through;
}
